@use "../abstracts/" as *;
@forward "./social-media";

.social-media {
  @include flex();
  gap: 24px;
}
.media-icon {
  border: 1px solid $main-base;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  @include flex($justify-content: center, $align-items: center);

  &:hover {
    background-color: $main-hl2;
  }
}
