@use "../../../../style/abstracts/" as *;

.hero-section {
  @include flex($flex-direction: column, $flex-wrap: nowrap);

  background-image: url("/images/01_Background/Design-Size-Relation/01_Hero.png");
  height: 100vh;
  background-position: bottom;
  background-size: cover;

  padding: 0 $padding-16;
  @include respond(xl) {
    padding: 0 $padding-72;
  }

  @include respond(md) {
    @include flex($flex-direction: column, $flex-wrap: nowrap, $justify-content: space-between);
  }
}

.hero-content {
  @include flex($flex-direction: column, $align-items: center);
  margin-top: 33px;
  @include respond(lg) {
    margin-left: calc($padding-72 * 2);
    margin-right: calc($padding-72 * 2);
  }
  @include respond(xl) {
    margin-left: calc($padding-72 * 3);
    margin-right: calc($padding-72 * 3);
  }
  &__welcome {
    margin-top: 40px;
    margin-right: auto;
    order: 1;
  }
  &__title {
    order: 2;
    margin-top: calc(2 * $padding-16);
    @include flex($flex-direction: row);
    .hero-title-first {
      width: 100%;
      margin-bottom: 24px;
      & > span:first-child {
        text-transform: uppercase;
      }
      & > span:nth-child(1):hover {
        text-transform: lowercase;
        color: $main-hl1;
      }
      & > span:nth-child(n + 2):hover {
        text-transform: uppercase;
        color: $main-hl1;
      }
    }
    .hero-title-second {
      margin-left: auto;
      & > span:hover {
        text-transform: lowercase;
        color: $main-hl1;
      }
    }
  }
  &__cta {
    margin-top: calc(2 * $padding-16);
    margin-left: auto;
    order: 4;
    @include respond(md) {
      margin-top: 55px;
    }
    @include respond(xl) {
      margin-top: 24px;
    }
  }
  &__profile-img {
    order: 5;
    margin-top: calc(2 * $padding-16);
    transform: rotate(8deg);

    position: relative;
    width: fit-content;
    cursor: pointer;

    @include respond(md) {
      position: absolute;
      right: 45px;
      top: 15%;
    }
    @include respond(lg) {
      right: 18%;
      top: 10%;
    }
    @include respond(xl) {
      right: 20%;
      top: 10%;
    }

    .profil {
      display: block;
      width: 220px;
      height: auto;
      border-radius: 8px;
      transition: all 0.3s ease;
      filter: grayscale(1);

      &:hover {
        filter: grayscale(0);
      }
    }

    .polaroid {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;

      width: 100%;
      height: auto;

      pointer-events: none;
    }

    .name-tag {
      position: absolute;
      left: 32%;
      bottom: 13px;
      color: $main-dark;
      z-index: 2;
      cursor: pointer;
      transition: all 0.3s ease;
    }
  }
}
